@import '~@angular/material/theming';

@mixin toast-theme($theme) {
    $config: $typography;

    .toast {
        @include mat-typography-level-to-styles($config, subheading-2);

        /*
         what : styles to overide default styles of snackbar
         why  : the default background-color was dark,
                which we want to change according to the status of the snackbar
        */
        padding: 0;
        display: flex;

        .success {
            background-color: mat-color($success, 200);
            color: mat-contrast($success, 200);
        }

        .error {
            background-color: mat-color($error, 200);
            color: mat-contrast($error, 200);
        }

        .warning {
            background-color: mat-color($warning, 200);
            color: mat-contrast($warning, 200);
        }

        .info {
            background-color: mat-color($info, 200);
            color: mat-contrast($info, 200);
        }
    }
}
